<!DOCTYPE html>
<html>
    <head>
        <meta ccharset="utf-8">
        <title>Some Website</title>
    </head>
    <body>
        {{> header}}
        <p>Some text here</p>
        {{> footer}}
    </body>
</html>