<!DOCTYPE html>
<html>
    <head>
        <meta ccharset="utf-8">
        <title>Projects</title>
    </head>
    <body>
        {{> header}}
        <p>Project portfolio</p>
        {{> footer}}
    </body>
</html>